create table tur(id uuid, geom geometry, attribs jsonb);

create table sted(id uuid, geom geometry, attribs jsonb);

create table omrade(id uuid, geom geometry, attribs jsonb);

create table gruppe(id uuid, geom geometry, attribs jsonb);

create table bilde(id uuid, geom geometry, attribs jsonb);
